@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap');

* {
    font-family: 'Baloo Tammudu 2', sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin: 0;
}

.navbar {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 4rem;
    background-color:darkslategray;
    position: sticky;
    top: 0px;
    align-items: center;
}

.header_img {
    height: 30px;
    width: 30px;
    cursor: pointer;
    padding: 0px 0px 0px 20px;
}

.header_name {
    margin-right: auto;
    padding-left: 20px;
    font-size: 1.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

header a {
    color: #edf0f1;
}

.navlist {
    list-style: none;
}

.navlist li {
    display: inline-block;
    padding: 0px 25px;
    text-decoration: none;
}

.navlist li a {
    transition: all 0.3s ease 0s;
}

.headline {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.headline h1 {
    font-weight: 500;
    font-size: 3rem;
}

.headline img {
    height: 75px;
    width: 75px;
    padding-right: 5px;
}

.statement {
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}

.projects {
    height: 2000px;
}