/* Initial setup for the page */

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap');

* {
    font-family: 'Baloo Tammudu 2', sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Getting the top background image to the top of the page and adding some opacity. Also setting up transitions to have the headline and statement fade in on load from script.js */

.top_section {
    background-image: url('./images/top_background.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    top: 0;
    height: 100vh;
    transition: all 1000ms ease-in;
    align-items: center;
}

.headline, .statement {
    transition: all 1000ms ease-in;
    opacity: 0;
}

.scroll_paragraph {
    opacity: 0;
    transition: all 2000ms ease-in;
}

.top_section_loaded {
    opacity: 1;
}

/* Styles for the navbar, and getting it to stay at the top of the window even when scrolling. */

.navbar {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 4rem;
    background-color:darkslategray;
    position: sticky;
    top: 0px;
    align-items: center;
    z-index: 9999;
}

header a img {
    height: 50px;
    width: 50px;
    padding-top: 20px;
    padding-left: 20px;
}

.header_name {
    margin-right: auto;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 1.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

header a {
    color: #edf0f1;
}

.navlist {
    list-style: none;
}

.navlist li {
    display: inline-block;
    padding: 10px 25px 0px 0px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 300ms ease-in;
    transform-origin: center;
}

.navlist li:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #edf0f1;
}

/* Styles for the healine image, name, and statement. Basic placement on the page. */

.headline {
    display: flex;
    justify-content: center;
    padding: 50px;
    padding-top: 100px;
}

.headline h1 {
    font-weight: 500;
    font-size: 3rem;
    color: #edf0f1;
}

.headline img {
    height: 75px;
    width: 75px;
    padding-right: 5px;
}

.statement {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-size: 1.5rem;
    color: #edf0f1;
}

.scroll_paragraph {
    justify-content: center;
    font-size: 1.5rem;
    padding: 20vh 0px 10vh 0px;
}

/* Setting up project list to be below the initial window, and setting each project up to fade in from the edge of the screen with Intersection Observers in script.js */

.projects {
    background-color: rgba(0,0,0,0.25);
}

.project1, .project2, .project3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    padding-bottom: 8rem;
    padding-top: 8rem;
}

.project1 div, .project2 div, .project3 div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.project1_title, .project2_title, .project3_title {
    font-weight: bold;
    font-size: 2rem;
    text-decoration: underline;
}

.project1 {
    transform: translateX(-50%);
    transition: all 600ms ease-in;
    opacity: 0;
}

.project1 div a img {
    height: 400px;
    width: 500px;
}

.project1 div p {
    width: 30rem;
    font-size: 1.3rem;
    color: black;
    padding-left: 3rem;
}

.project2 {
    transform: translateX(50%);
    transition: all 600ms ease-in;
    opacity: 0;
}

.project2 div img {
    height: 400px;
    width: 500px;
}

.project2 div p {
    width: 30rem;
    font-size: 1.3rem;
    color: black;
    padding-left: 3rem;
}

.project3 {
    transform: translateX(-50%);
    transition: all 600ms ease-in;
    opacity: 0;
}

.project3 div img {
    height: 400px;
    width: 500px;
}

.project3 div p {
    width: 30rem;
    font-size: 1.3rem;
    color: black;
    padding-left: 3rem;
}

.fade_in {
    transform: translateX(0);
    opacity: 1;
}

/* Final styling for the footer to include contact links */

footer {
    display: flex;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkslategray;
}

footer img {
    height: 50px;
    width: 50px;
    padding-right: 10px;
}

footer a, p {
    text-decoration: none;
    color: #edf0f1;
}

.git_icon {
    padding-top: 10px;
}